<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <add key="dev-nexus-nuget" value="https://nexuslink.pkgs.visualstudio.com/_packaging/nexus-nuget-internal/nuget/v3/index.json" />
    <add key="prd-nexus-nuget-public" value="http://fulcrum-nuget.azurewebsites.net/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>